---
const { class: className, id, ...rest } = Astro.props
---

<!--
  TODO: Replace this placeholder logo with your company logo

  Instructions:
  1. Export your logo as SVG from your design tool
  2. Replace the entire <svg> element below with your logo SVG
  3. Maintain the following attributes for accessibility:
     - role="img"
     - aria-label="Your Company Name"
     - class={`logo ${className}`}
  4. Update the <title> element with your company name

  Example:
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="currentColor" role="img" aria-label="Your Company" class={`logo ${className}`}>
    <title>Your Company</title>
    (Your logo paths here)
    
    -->
<svg
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 372.3 108.5"
	fill="currentColor"
	role="img"
	aria-label="Company Logo"
	class={`logo ${className}`}
>
	<title>Company Logo</title>
	<text font-family="Helvetica-Light" font-size="89.374" transform="translate(114.006 76.772)">
		LOGO
	</text>
	<path d="M.05 50.524 48.347 2.229 96.64 50.524 48.346 98.819z"></path>
</svg>
